body {
    background  : #1049a9;
    color       : #fff;
    font-size   : 14px;
    font-family : Meiryo UI;
}

a {
    text-decoration : none;
    color           : #00C6FF;
}

a:hover {
    color : #00ffff;
}

ul {
    list-style : none;
}

li {
    float : left;
}

img {
    margin : 10px;
}

h1 {
    font-size     : 30px;
    color         : #fff;
    padding       : 5px;
    margin        : 0px;
}

h1 a {
    text-decoration : none;
    color           : #fff;
}

h1 a:hover {
    color :00ffff;
}

h2 {
    font-size : 20px;
    color     : #fff;
    padding   : 5px;
    margin    : 0px;
}

h2 a {
    text-decoration : none;
    color           : #fff;
}

h2 a:hover {
    color :00ffff;
}



/******************
 * original class *
 ******************/
#header {
    width  : 1000px;
    height : 600px;
    margin : auto;
    color         : #fff;
    background    : #052c6e;
    border-radius : 20px;
}

#container {
   text-align : center;
}


#footer {

}

.footer {
    width         : 1000px;
    color         : #fff; 
    text-align    : center;
    background    : #052c6e;
    border-radius : 20px;
    margin        : 10px auto;
    padding       : 5px;
}
